<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-slides pager="true">
        <ion-slide>
            <img src="assets/img/send.jpg"  alt='just_a_handsome_image'/>
        </ion-slide>
        <ion-slide>
            <img src="assets/img/postman.png"/>
        </ion-slide>
      </ion-slides>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>GateWay Send Message</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Start server and access the url api  to send a sms using your phone. <b><u>Resources API</u></b>
        </p>
        <ion-item *ngIf="active">
          <ion-icon slot="start" name="at"></ion-icon>
          <ion-label>Send a email</ion-label>
          <p>{{url}}?send=email&email=destiny@mail.com&msg=your_messager</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <section class="full-width">
      <ion-button expand="full" color="secondary" (click)="openServer()" *ngIf="!active">Start GateWay</ion-button>
      <ion-button expand="full" color="danger" (click)="closeServer()" *ngIf="active">Stop GateWay</ion-button>
    </section>
</ion-content>
